<div class="text-center bg-secondary">
    <img src="{{introImageLink}}" class="img-fluid" alt="" style="width:800px;height:600px;" />
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <p class="text-left">
            <h1>{{name}}</h1>
            <h5>{{description}}</h5>
        </p><br/>
    </div>
    <div class="col"></div>
</div>

{{infos}}

<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <p class="text-left"><h3>Local</h3></p>
    </div>
    <div class="col"></div>
</div>


<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <p class="text-left">{{address}}</p>
    </div>
    <div class="col"></div>
</div>

